/* КОНТЕЙНЕР О КОМПАНИИ*/

.container__about
{
    display: block;

    min-height: 1400px;
    height: auto;
    margin-top: -70px;
}


/* КОНТЕЙНЕР О КОМПАНИИ. ПЕРВЫЙ КОНТЕЙНЕР (ВРАТЦЕ О ЧЕМ ЗАНИМАЕМСЯ) */


.contetn__about_one
{
    
    margin-top: 150px;
    margin-bottom: 100px;
}

.text__solving_problemsabout_content-info
{
    margin-top: 50px;
}

.sun{
    position:relative;
    width: 350px;
    height: 350px;
    -webkit-animation-iteration-count:infinite;
    -webkit-animation-timing-function:linear;
    -webkit-animation-name:orbit;
    -webkit-animation-duration: 0s;
    z-index: 0;
}

.sun > div
{
    position: relative;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    top: -300px;
    margin-left: 50px;
    filter: blur(50px);

    z-index: -1;
}

@-webkit-keyframes orbit { 
from { -webkit-transform:rotate(0deg) } 
to { -webkit-transform:rotate(360deg) } }

.svg__about_content-one > img 
{
    position: relative;
    z-index: 2;
}

.text__solving_problemsabout_content-info > h2
{
    width: 550px;
    font-size: 36px;
    font-weight: 500;
}

.text__solving_problemsabout_content-info > p
{
    width: 490px;
    margin-top: 20px;
}

.text__solving_problemsabout_content-info > .btn_form_form
{
    display: flex;
    align-items: center;
    justify-content: center;
    
    width: 250px;
    height: 40px;
    border-radius: 15px;

    font-size: 16px;
    font-weight: 500;

    margin-top: 30px;
}

.our_clients
{
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
}

.our_clients > p 
{
    width: auto;
    height: 35px;
    padding: 10px;
    display: flex;
    text-align: center;
    align-items: center;

    font-size: 14px;
    font-weight: 400;
    margin: 5px;
    opacity: 1;
}

.our_clients > p:first-child
{
    border-radius: 8px 0 0 8px;
}

.our_clients > p:last-child
{
    border-radius: 0 8px 8px 0;
}

/* КОНТЕЙНЕР О КОМПАНИИ. ВТОРОЙ КОНТЕЙНЕР (ПРОБЛЕМЫ КОТОРЫЕ МЫ РЕШИМ) */

.contetn__about_two
{
    margin-bottom: 100px;
}

.text__solving_problemsabout_content-problem
{
    text-align: left;
    width: 550px;
}

.text__solving_problemsabout_content-problem > h1
{
    margin-top: 50px;
}

.svg__about_content-two > img 
{
    width: 300px;
    height: 300px;
}

.text__solving_problemsabout_content-problem > div > p:not(:first-child):not(:last-child)
{
    margin-top: 5px;
}

.text__solving_problemsabout_content-problem > div > p:first-child
{
    margin-top: 20px;
}


.text__solving_problemsabout_content-problem > div > p:last-child
{
    margin-top: 35px;
}


/* КОНТЕЙНЕР О КОМПАНИИ. ТРЕТИЙ КОНТЕЙНЕР (ОСНОВНОЕ О КОМПАНИИ) */


.text__solving_problemsabout_content-compani
{
    width: 500px;
}

.text__solving_problemsabout_content-compani > p 
{
    margin-top: 20px;
}

.content__about_three > img 
{
    width: 300px;
    height: 300px;
}

/*КОНТЕЙНЕР С ССЫЛКОЙ НА ФОРМУ*/


.container__form-contact
{
    display: flex;
    justify-content: space-between;
    align-items: center;

    min-height: 150px;
    height: auto;
}

.container__form-contact > h1
{
    font-size: 28px;
    font-weight: 400;
}

.container__form-contact > button 
{
    width: 250px;
    height: 50px;
    border-radius: 20px;

    font-size: 16px;
    font-weight: 500;
}



/*КОНТЕЙНЕР КАКИЕ ПРОБЛЕМЫ МЫ РЕШАЕМ*/


.container__solving_problems
{
   min-height: 1370px;
   height: auto;
}

.one, .two, .two, .three, .four, .five, .six
{
    position: relative;
    display: flex;
    justify-content: space-between;

    width: 100%;
    margin-top: 40px;
}

.one { z-index: 5; }
.two { z-index: 4; }
.three { z-index: 3; }
.four { z-index: 2; }
.five { z-index: 1; }
.six { z-index: 0; }

@media (prefers-reduced-motion: no-preference)
{
    .one, .two, .two, .three, .four, .five, .six
    {
        max-height: 20vh;
        transform: translateY(-95px);
        animation: fade-in linear forwards;
        animation-timeline: view();
        animation-range: -30px 36%;

        opacity: 0;
    }
  
    @keyframes fade-in 
    {
        to 
        {
            transform: translateY(100px);
            opacity: 1;
        }
    }
}

.text__solving_problems
{
    width: 600px;
}

.container__solving_problems > h1
{
    margin-top: 100px;
}

.text__solving_problems > h1
{
    font-size: 24px;
}

.text__solving_problems > p 
{
    margin-top: 5px;
    font-size: 18px;
}


/*КОНТЕЙНЕР КОММЕНТАРИИ*/


.container__comment
{
    min-height: 525px;
    height: auto;
}

.coments__wrapper__advantages
{
    display: flex;

    margin-top: 50px;
    padding-bottom: 25px;

    overflow: auto;
}

.coments__wrapper__advantages::-webkit-scrollbar
{
    width: 10px;
}

.coments__wrapper__advantages::-webkit-scrollbar-thumb
{
    border-radius: 20px;
}

.com_card
{
    min-width: 300px;
    width: auto;
    height: 200px;

    padding: 25px;
    border-radius: 25px;   
}

.coments__wrapper__advantages > div:not(:first-child)
{
    margin-left: 25px;
}

.coments__wrapper__advantages > div > h1
{
    font-size: 24px;
}

.coments__wrapper__advantages > div > p 
{
    margin-top: 20px;
    font-size: 16px;
}

.container__comment > h1
{
    margin-top: 100px;
}