.container__monitoring_about {
  display: block;
  min-height: 200px;
  height: auto;
  margin-top: -70px;
}

.content__info_monitoring {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  min-width: 100px;
  max-width: 1100px;
  width: 100%;
  padding-top: 100px;
  margin-bottom: 100px;
  margin-top: 50px;
}
  
.text_monitoring > h1 {
 max-width: 600px;
 width: 100%;
  margin-bottom: 20px;
}

.text_monitoring > div> h2 {
  margin-bottom: 20px;
  max-width: 500px;
  width: 100%;
  font-size: 20px;
  font-weight: 400;
}

.content__iso_text {
  display: flex;
}

.content__iso_text > img {
  width: 300px;
  height: 300px;
  margin-top: 50px;
}

.text_monitoring > div > .btn_form_form {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  max-width: 300px;
  width: 100%;
  height: 40px;
  margin-top: 40px;
  font-size: 16px;
  font-weight: 500;
  padding-left: 10px;
  padding-right: 10px;
}

.wrapper__monitoring {
  margin-bottom: 50px;
}

.wrapper__monitoring > div > div > h1 {
  font-size: 20px;
}
  
.text_monitoring {
  margin-top: 50px;
}

.wrapper__monitoring > div > div > p {
  font-size: 18px;
  font-weight: 300;
}

.wrapper__monitoring > div > div {
  width: 500px;
}

.prem__svg_monitoring {
  width: 64px;
  height: 64px;
}

@media (max-width: 426px) {
  .content__iso_text,
  .svg__form_content{
      display: none;
  }
}